*{
    font-family: 'Tilt Neon', sans-serif;
}

.bodybackground {
    background-image: url(../img/IMG_0010.png);
    margin: 0;
}
.headerindex {
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;

}

.fancy {
    position: relative;
    white-space: nowrap;    
}
.fancy:after {
      --deco-height: 0.3125em;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(var(--deco-height) * -0.625);
      height: var(--deco-height);
      background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: auto 100%;
      background-repeat: round;
      background-position: 0;
}

h2 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.containerindex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.pseudo{
    width: 350px;
    height: 40px;
    text-align: center;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    color: #fff;
    padding-left: 5px;
    font-size: 30px;
    margin-top: 1.5%;
}
.pseudo:hover {
    border:2px solid rgba(255,255,255,0.5);
    transform: scale(1.1);
}
.pseudo:focus {
    border:2px solid  #4cd6c6 
}

.boutoncommencer {
    text-align: center;
    width: 360px;
    height: 34px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    color: #fff;
    font-size: 15px;
    margin-top: 6%;
}
.boutoncommencer:hover {
    border:2px solid rgba(255,255,255,0.5);
    transform: scale(1.1);
}
.boutoncommencer:focus {
    border:2px solid  #4cd6c6
}

select {
    text-align: center;
    width: 360px;
    height: 34px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    color: #fff;
    font-size: 20px;
   
}

option {
    color: rgb(255, 255, 255);
    background-color: rgb(40, 46, 46);
    font-size: 20px;
}

.containeraccueil {
   
    display: flex;
    flex-direction: column;
    align-items: center; 
}

