{{define "accueil"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <title>Accueil</title>
</head>
<body class="bodybackground">
  
            <header class ="headerindex"></div><h1 class="fancy">Bienvenue {{.Username}}</h1>   </header>
            <main>
                <h2>Choisir Votre Difficulté :</h2> 
                <form action="/treatmentaccueil" method="POST">
                <label for="difficulte"></label>
                    <div class="containeraccueil">
			            <select class="selectdiff" name="difficulte" required>
				        <option value="Facile">Facile</option>
				        <option value="Moyen">Moyen</option>
                        <option value="Difficile">Difficile</option>
		                </select>
                        <input class="boutoncommencer" type="submit" value="VALIDER"> 
                    </div>
                </form>
            </main>
</body>
</html>
{{end}}