{{define "index"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body class="bodybackground">
    <header class ="headerindex"> <h1 class="fancy">Hangman Game</h1> </header>
        <main class ="mainindex">
            <h2>Votre Nom : </h2>  
       
                <form action="/treatmentlogin" method="POST">
                <label  for="nom"></label>
                    <div class="containerindex">
                        <input class="pseudo" type="text" name="nom" autocomplete="off" required maxlength="15">
                        <input class="boutoncommencer" type="submit" value="COMMENCER"> 
                    </div>
                </form>
        </main>
</body>
</html>
{{end}}