{{define "resultat"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <title>Résultat</title>
</head>
<body class="bodybackground">
    <main>
        <div class="containerresultat">
            {{if .CheckVictoire}}
                <p>{{.Username}} a gagné en mode {{.Difficulte}}, le mot était : <br> <div class="MotDeviner"> {{.MotaDeviner}} </div></p>
                {{if eq .Difficulte "Facile"}}
                    <p>C'est un mode facile, bravo !</p>
                {{else if eq .Difficulte "Moyen"}}
                    <p>C'est un mode moyen, bien joué !</p>
                {{else if eq .Difficulte "Difficile"}}
                    <p>C'est un mode difficile, félicitations !</p>
                {{end}}
            {{else}}
                <p>{{.Username}} a perdu en mode {{.Difficulte}}, le mot était : <br> <div class="MotDeviner"> {{.MotaDeviner}}</div></p>
                {{if eq .Difficulte "Facile"}}
                    <p>C'est un mode facile, essayez encore !</p>
                {{else if eq .Difficulte "Moyen"}}
                    <p>C'est un mode moyen, vous pouvez le faire !</p>
                {{else if eq .Difficulte "Difficile"}}
                    <p>C'est un mode difficile, ne vous découragez pas !</p>
                {{end}}
            {{end}}
            <form action="/treatmentresultat" method="POST">
                <input class="boutoncommencer" type="submit" value="Retour à l'écran d'accueil">
            </form>
        </div>
    </main>
</body>
{{end}}